:root {
    --apricot: #FBC4AB;
    --soft-orange: #FFDAB9;
    --melon: #F8AD9D;
    --coral: #F08080;
    --inst: #f5efef;
    --inred: #b34a12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--inst);
    color: #333;
}

header {
    background-image: url(custom/checkred-bg-gg.jpg);
    color: var(--inred);
    padding: 5px;
    text-align: center;
    font-family: "Jua", sans-serif;

}

header img {
    margin: 0;
    padding: 0;
    position: relative;
}

#content{
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--inred);
    padding: 5px;
    font-family: "Jua", sans-serif;

}

.bx-nav {
    display: flex;
    justify-content: space-evenly;
    width: 450px;
}

.bx-order-ch{
    padding: 15px;
}

.navbar a {
    border-radius: 25px;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #b0b0b0;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: var(--inred);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 7px 15px;
    font-family: "Jua", sans-serif;
}

.dropdown-btn:hover {
    background-color: #b0b0b0;
    border-radius: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px;
    border-radius: 0px !important;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#main-ch {
    display: flex;
}

.bx-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.bx-base h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#canvas{
    font-family: "Jua", sans-serif;

}

.base-option:hover {
    transform: scale(1.1);
    border: 2px solid var(--inred);
    background-color: #d0b3b3;
}

.base-option {
    width: 175px;
    margin: 0 5px 5px;
    border: 1px solid gray;
    border: 1px solid var(--inred);
    border-radius: 25px;
    transition: transform 0.2s;
}

.ch-base {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 25px;
}

#vitrine-miffy,
#vitrine-bunny,
#vitrine-catinho {
    width: 550px;
    flex-wrap: wrap;
}

#bx-custom {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 15px;
    font-family: "Jua", sans-serif;
}

.ch-custom {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 460px;
    margin: 0;
}

.vitrine {
    margin-bottom: 30px;
    overflow: auto;
}

.vitrine img {
    width: 70px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid var(--inred);
    border-radius: 25px;
    transition: transform 0.2s;
}

.vitrine img:hover {
    transform: scale(1.1);
    border: 2px solid var(--inred);
    background-color: #d0b3b3;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 270px;
    margin-top: 20px;
    text-align: center;
}

.preview h4 {
    margin-top: -25px;
    padding: 5px;
}

.preview .layers {
    position: relative;
    width: 300px;
    height: 360px;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.custom-ready,
form button {
    background-color: #b34a12;
    padding: 5px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    font-family: "Jua", sans-serif;
}

.custom-ready:hover,
form button:hover {
    background-color: #b0b0b0;
    color: white;
}

#checkout-form {
    display: flex;
    flex-direction: column;
}

#order-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Jua", sans-serif;
}

#final-order{
    height: 380px;
}

label {
    font-weight: bold;
    font-family: 'Quicksand',sans-serif;
    font-size: 15px;
}

input {
    background-color: transparent;
    border: 1px solid var(--inred);
    border-radius: 25px;
    width: 350px;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-family: 'Quicksand',sans-serif;
}

#name {
    text-transform: capitalize;
}

#comment{
    height: 100px;
}

footer {
    background-color: var(--inred);
    color: white;
    text-align: left;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    font-family: 'Jua', sans-serif;
}

.nav-links i {
    margin: 5px 5px 0 0;
}

.nav-links a {
    color: #ddd;
    text-decoration: none;
    margin-right: 10px;
}

#preview-skin {
    z-index: 1;
}

#preview-face {
    z-index: 2;
}

#preview-base {
    z-index: 4;
}

#preview-blush {
    z-index: 1;
}

#preview-hoodie {
    z-index: 3;
}

#preview-trinket {
    z-index: 5;
}

#preview-suit {
    z-index: 3;
}

#preview-acessory {
    z-index: 5;

}

#preview-trinket {
    z-index: 6;

}

#preview-bag {
    z-index: 5;

}

#preview-deco {
    z-index: 5;

}

#preview-headset {
    z-index: 5;

}

@media (max-width: 768px) {
    .vitrine {
        flex-direction: column;
    }

    .produto {
        width: 90%;
    }

    aside {
        width: 100%;
        float: none;
    }
}